<div style="width: 100%; height: 100%; display: flex;">
  <div class="nav-scroll" style="width: 250px; background-color: aquamarine; overflow-y: scroll">
    <app-nav-left></app-nav-left>
  </div>
  <div class="w-full flex flex-column" style="overflow-y: scroll">
    <div style="border: 1px solid blue; position: sticky; top: 0; background-color: blue">
      <app-nav-top></app-nav-top>
    </div>
    <div style="flex-grow: 1">
      <app-view-dashboard></app-view-dashboard>
    </div>
    <div style="border: 1px solid blue; position: sticky; bottom: 0; background-color: blue">
      <app-footer></app-footer>
    </div>
  </div>
</div>




